/* Remove default spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* whole page */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #010405cb;
}
/* header */
header {
    background-color: #070707;
    color:white;
    padding: 20px;
    text-align: center;
}
/* navigation */
nav {
    list-style-type:none;
    margin:15px;
}

nav ul li{
    display:inline;
    margin:15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight:bold;
}
/* button */
button {
    background-color: #82f9c2;
    color: white;
    border: none;
    padding:10px 20px;
    cursor: pointer;
    boarder-radius:5px;
}
/* main sections */
main {
    background-color: white;
    margin:20px;
    padding:20px;
    boarder-radius:10px;
}
/* section headings */
h2 { 
    color:rgba(22, 4, 4, 0.788);
    margin-bottom:10px;  
}
/* services list */
ul{ 
    margin-left:20px;
}
/* image styling */
image{
    width:350px;
    height:auto;

}
/* footer */
footer {
    background-color:rgba(10, 10, 10, 0.836);
    color:white;
    text-align:center;
    padding:15px;
    margin-top:20px;
}